name: Release
on:
  push:
    tags:
      - '**'
jobs:
  release:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Determine tag
        id: vars
        uses: actions/github-script@v5
        with:
          script: |
            const { GITHUB_REF } = process.env
            const tag = GITHUB_REF.replace('refs/tags/', '')
            console.log(`Got the following tag: ${tag}`)
            return tag
          result-encoding: string

      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: docker context create builders

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          endpoint: builders

      - name: Registry login
        uses: docker/login-action@v1
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.REGISTRY }}:${{ steps.vars.outputs.result }},${{ secrets.REGISTRY }}:latest
          cache-from: type=registry,ref=${{ secrets.REGISTRY }}:latest
          cache-to: type=inline
          build-args: REGISTRY=${{ secrets.REGISTRY_BASE }}/proxy/library/
